<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mytheresa - Product Details</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="https://www.mytheresa.com/skin/frontend/mytheresa/default/favicon.ico" type="image/x-icon">
    <link rel = "stylesheet" href="/css/navbar.css">
    <link rel = "stylesheet" href="/css/product_description.css">
    <link rel = "stylesheet" href="/css/search_box.css"> 
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body onload="getData('<%= product.symbol %>')">

    <div id="mainCont">
        <div id="navbar">
            <div class="set1">
                <div>
                <a href="#">WOMEN</a>
                <a href="#">MEN</a>
                <a href="#">KIDS</a>            
                </div>
                <div>
                <a href="#">Signup for Newsletter</a>
                <a href="#">My Account</a>
                <a href="#">My Wishlist</a>
                <a href="#">International|English</a>
                </div>
            </div>
            <div class="set2">
                <div><a href="/home">
                <img src="https://www.mytheresa.com/skin/frontend/mytheresa/default/images/logo.png?v=20220318T121226" id="logo"></img></a>
                </div>
                <div class="bag"><a href="/cart">
                    <span>Shopping Bag</span>
                     <img src="https://img.icons8.com/external-justicon-lineal-justicon/2x/external-shopping-bag-ecommerce-justicon-lineal-justicon.png" alt="" />
                    </a>
                  </div>
            </div>
            <div class="set3">
            <div class="">
                <a href="#">NEW ARRIVALS</a>
                <a href="#">DESIGNERS</a>
                <a href="#">CLOTHING</a>
                <a href="#">SHOES</a>
                <a href="#">BAGS</a>
                <a href="#">ACCESSORIES</a>
                <a href="#">SALE</a>            
            </div>
            <div class="nav-search">
                <input type="search" id=""
                    placeholder="Search for...." />
                <img src="https://t3.ftcdn.net/jpg/01/91/82/02/240_F_191820274_urGUeyW2HNudPI1oaMMnQZbyk6WYE5Ey.jpg" alt="">
            </div>
        </div>
        </div>
    </div>
        <hr>

    <div id="container">
        
        <div id="leftContainer">
            <div id="titleDetails">
                <div>
                    <img class="proImg" src = <%= product.product_image %> >
                </div>
                <div>
                    <div class="proName"><%= product.product_name %></div>
                </div>
                <div class="divThree">
                    <div><%= product.fund_size %></div>
                    <div><%= product.risk %></div>
                </div> 
            </div>
            
           
            
           
            
            
            
            

        </div>

        <div id="rightContainer">
            <div class="rupeeSymbol">₹</div>
            <div id="calendarIcon">
                <i class="material-icons">event</i>
            </div>
            <div class="optBtns">
                <div id="oneTime" class="whenNotClicked">ONE-TIME</div>
                <div id="monthlySip" class="whenClicked">EMI</div>
            </div>
            <div id="paymentOpt"> 
                <div id="sipAmount">
                    <div id="inputLabel">EMI Amount</div>
                    <input type="number" id="sipAmountInput" placeholder="0" max="100000">
                </div>
                <div id="sipCal">
                    <div id="dateLabel">Monthly EMI Date</div>
                    <input type="date" id="sipCalInput" value="2021-11-15" data-date-format="YYYY MM DD" onchange="calendar()">
                </div>
                <div id="paymentNote">Next EMI Instalment on 15-12-2023 </div>
            </div>
            <div class="addToCart">
                <div id="addToCartBtn" onclick="addToCart('<%= product._id %>')">ADD TO CART</div>
            </div>
        </div>

    </div>



</body>

</html>

<script src="/scripts/product_desc_scripts.js"></script>
<script src="/scripts/graph.js"></script>
<script src="/scripts/search_box.js"></script>
<script src="/scripts/changeNavbar.js"></script>